/* --- put your css here --- */ 

/* external css is imported into html using the <link> tag in the <head> section, as shown below.

  <head>
    <link rel="stylesheet" href="assignment02.css">
  </head>

*/
/* span {
	display: inline-block;
	width:100px;
}
 */
body { 
	background-color: skyblue;
}
#igottabeme{
	  font-family: Arial, Helvetica, sans-serif;
}

.classy{
	margin-left: 10px;
}

div{
	margin-bottom: 50px;
}



span{
	
	width: 100px;
	height:	50px;
	padding-top: 5px;  
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: yellow;
	border-style: solid;
	border-width: 5px;
	border-color: blue;


}

span.a{
	display: inline;
}

span.b{
	display: block;
}

span.c{
	display: inline-block;
}	

[alt="cat icon"] {
	position: fixed;
	bottom: 0;
	right:	0;
}

[alt="dog icon"] {
	
	position: relative;
	left:	50px;
	bottom:	150px;
}

[alt="bird icon"] {
	position: absolute;
	top: 2100px;
	left:	250px;
	z-index:	1;
}

nav{
	top:	0px;
	position:	sticky;
	background-color: green;
	opacity:	0.9;
	padding:	5px;
	font-size:	20px;
	z-index:	1;
}
/* --- pre-existing css --- */
.stripey tr:nth-child(even){
  background-color: gray;
  
}
.stripey tr:nth-child(odd) {
  background-color: white;
}
.stripey th {
  color: white;
  background-color: black;
}
.mousey td:hover {
  background-color: yellow;
}
.rightey td {
  text-align: right;
}
input[type="text"].pinkey:focus {
  background-color: pink;
}
